* { box-sizing: border-box; }

body {
    color: $textDefault;
    font-family: 'Open Sans', sans-serif;
    /*font-size: 22px;*/
    /*overflow-x: hidden;*/
}

em { font-style: italic; }

section { padding: 80px 0; }
