* { box-sizing: border-box; }

/* ------------------ Text ------------------ */

body {
    color: $textDefault;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

em { font-style: italic; }

/* ------------------ Headings ------------------ */

h1, h2, h3 {
    letter-spacing: 2px;
    font-weight: normal;
}

/* ------------------ Links ------------------ */

a:link,
a:visited {
    /*color: $defaultOrange;*/
    text-decoration: none;
    /*padding-bottom:*/
}

a:hover,
a:active {

}
