/* -------------------------------------------------------------------------- */
/* Basic setup */
/* -------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}
html {
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    margin-top: 40px;
}

/* -------------------------------------------------------------------------- */
/* Reusable Components */
/* -------------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------------ Headings ------------------ */

h1, h2 {
    letter-spacing: 1px;
    color: #fff;
    line-height: 145%;
}

h1 {
    font-size: 300%;
}

h1 span {
    font-size: 150%;
    color: #FF9800;
}

h2 {
    font-size: 180%;
}

/* ------------------ Paragraphs ------------------ */

/* ------------------ Links ------------------ */

a:link,
a:visited {
    /*color: #FF9800;*/
    text-decoration: none;
    /*padding-bottom:*/
}

a:hover,
a:active {

}

/* ------------------ Buttons ------------------ */

/* -------------------------------------------------------------------------- */
/* Header */
/* -------------------------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-text-box {
    width: 750px;
    margin: 140px auto;
}

/* ------------------ nav ------------------ */

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 40px;
    padding: 10px;
}

nav li a:link,
nav li a:visited {
    color: #fff;
    text-transform: uppercase;
    transition: border-bottom 0.2s;
}

nav li a:hover,
nav li a:active {
    border-bottom: 2px solid #FF9800;
}