.copy-container {
  letter-spacing: 1px;
  line-height: 1.65;
  text-align: justify;

  p {
    margin-bottom: 2rem;
  }

  ul {
    position: relative;
    border-left: 2px solid $defaultOrange;
    padding-left: 18px;

    @mixin medium {
      padding-left: 40px;
    }
  }

  ul li {
    display: block;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid $divider;
    margin-bottom: 1rem;
  }

  @mixin small {
    font-size: 1.2rem;
  }

  @mixin medium {
    font-size: 1.4rem;

    p {
      margin-bottom: 2.6rem;
    }
  }

  &--long {
    @mixin medium {
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
    }

    @mixin large {
      max-width: 900px;
    }
  }

  &--large {
    font-size: 1.2rem;

    @mixin small {
      font-size: 1.4rem;
    }

    @mixin medium {
      font-size: 1.6rem;
    }
  }

  &--centered {
    text-align: center;
    &-at-medium {
      @mixin medium {
        text-align: center;
      }
    }
  }

  &--centered-until-medium {
    text-align: center;

    @mixin medium {
      text-align: left;
    }
  }

  &--white {
    color: #fff;
  }

  &--more-b-margin {
    margin-bottom: 2.6rem;

    @mixin medium {
      margin-bottom: 3.4rem;
    }
  }
}
