.copy-container {
  letter-spacing: 1px;
  line-height: 1.65;
  text-align: justify;

  p {
    margin-bottom: 2rem;
  }

  @mixin small {
    font-size: 1.2rem;
  }

  @mixin medium {
    font-size: 1.4rem;

    p {
      margin-bottom: 2.6rem;
    }
  }

  @mixin large {
    /*font-size: 1.6rem;*/
  }

  &--long {
    @mixin medium {
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
    }

    @mixin large {
      max-width: 900px;
    }
  }

  &--large {
    font-size: 1.2rem;

    @mixin small {
      font-size: 1.4rem;
    }

    @mixin medium {
      font-size: 1.6rem;
    }

    @mixin large {
      /*font-size: 1.8rem;*/
    }
  }

  &--centered {
    text-align: center;
    &-at-medium {
      @mixin medium {
        text-align: center;
      }
    }
  }

  &--white {
    color: #fff;
  }
}
