.headline {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.4rem;

    @mixin small {
        font-size: 3rem;
    }

    @mixin medium {
        font-size: 4rem;
    }

    &--centered {
        text-align: center;
    }

    &--b-underline-orange:after {
        display: block;
        height: 2px;
        background-color: $defaultOrange;
        content: " ";
        width: 120px;
        margin: 0 auto;
        margin-top: 30px;
    }
}