.img {
  display: block;

  &--small {
    width: 150px;
    height: 150px;
  }

  &--round {
    border-radius: 50%;
  }

  &--centered {
    margin: 0 auto;
  }

  &--centered-until-large {
    margin: 0 auto;
    
    @mixin large {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &--b-margin-large {
    margin-bottom: 4rem;
  }

  &--iphone {
    max-width: 230px;

    @mixin small {
      max-width: 350px;
    }
  }
}
