.large-hero__nav {
    text-align: center;
}

.large-hero__nav-ul {
    margin-top: 0;
}

.large-hero__nav-li {
    display: inline-block;
    margin: 0 50px;
    padding-top: 20px;
}

.large-hero__nav-li-a:link,
.large-hero__nav-li-a:visited {
    color: #fff;
    text-transform: uppercase;
    transition: border-bottom 0.2s;
}

.large-hero__nav-li-a:hover,
.large-hero__nav-li-a:active {
    border-bottom: 2px solid $defaultOrange;
}