.large-hero {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-shadow: 0px 4px 15px #D3D3D3;

    &__text-content {
        display: block;
        max-width: 340px;
        margin: 10em auto 0 auto;

        @mixin small {
            margin-top: 9em;
            max-width: 500px;
        }

        @mixin medium {
            margin-top: 8em;
            max-width: 550px;
        }

        @mixin large {
            margin-top: 7em;
            max-width: 700px;
        }
    }

    &__title {
        font-size: 3rem;
        font-family: 'Fjalla One', sans-serif;
        line-height: 145%;

        @mixin small {
            font-size: 3.4rem;
        }

        @mixin medium {
            font-size: 4rem;
        }

        @mixin large {
            font-size: 4.6rem;
        }
    }

    &__name {
        font-size: 4.0rem;
        color: $defaultOrange;
        /*margin-bottom: 4em;*/
        line-height: 120%;

        @mixin small {
            font-size: 6rem;
        }

        @mixin medium {
            font-size: 7rem;
        }

        @mixin large {
            font-size: 9rem;
        }
    }

    &__subtitle {
        margin: 0;
        font-size: 1.8rem;

        @mixin small {
            font-size: 2.1rem;
        }

        @mixin medium {
            font-size: 2.4rem;
        }

        @mixin large {
            font-size: 2.6rem;
        }
    }
}
