.large-hero__nav {
    text-align: center;

    &-ul {
        margin-top: 0;
    }

    &-li {
        display: inline-block;
        margin: 0 50px;
        padding-top: 20px;
    }

    &-li-a:link,
    &-li-a:visited {
        color: #fff;
        text-transform: uppercase;
        transition: border-bottom 0.2s;
    }

    &-li-a:hover,
    &-li-a:active {
        border-bottom: 2px solid $defaultOrange;
    }

}
