.project {
  padding: 1em 0;

  @mixin medium {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  &__title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    margin-top: 3rem;

    @mixin small {
      font-size: 2.4rem;
    }

    @mixin medium {
      font-size: 3rem;
    }
  }

  &__img {
    display: block;

    &--small {
      width: 150px;
      height: 150px;
    }

    &--round {
      border-radius: 50%;
    }

    &--centered {
      margin: 0 auto;
    }

    &--centered-until-medium {
      margin: 0 auto;

      @mixin medium {
        margin-right: 0;
        margin-left: auto;
      }
    }

    &--b-margin-large {
      margin-bottom: 4rem;
    }

    &--iphone {
      max-width: 230px;

      @mixin small {
        max-width: 320px;
      }
    }
  }
}
