.project {
  padding: 1em 0;

  @mixin medium {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  &__title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    margin-top: 1.4em;

    @mixin small {
      font-size: 2.4rem;
    }

    @mixin medium {
      font-size: 3rem;
    }

    &--centered-until-medium {
      text-align: center;

      @mixin medium {
        text-align: left;
      }
    }
  }

    ul {
      position: relative;
      border-left: 2px solid $defaultOrange;
      padding-left: 18px;

      @mixin medium {
        padding-left: 40px;
      }
    }

    ul li {
      display: block;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid $divider;
      margin-bottom: 1rem;
    }

  &__img {
    display: block;

    &--small {
      width: 150px;
      height: 150px;
    }

    &--round {
      border-radius: 50%;
    }

    &--centered {
      margin: 0 auto;
    }

    &--centered-until-medium {
      margin: 0 auto;

      @mixin medium {
        margin-right: 0;
        margin-left: auto;
      }
    }

    &--b-margin-large {
      margin-bottom: 4rem;
    }

    &--iphone {
      max-width: 230px;

      @mixin small {
        max-width: 320px;
      }
    }
  }
}
