.project {
  border-bottom: 1px solid $divider;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  &:first-of-type {
    padding-top: 1rem;

    @mixin medium {
      padding-top: 2rem;
    }
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 2rem;

    @mixin medium {
      padding-bottom: 3rem;
    }
  }

  @mixin medium {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    margin-top: 2rem;

    @mixin small {
      font-size: 2.4rem;
    }

    @mixin medium {
      font-size: 3rem;
    }
  }

  &__img {
    display: block;

    &--small {
      width: 150px;
      height: 150px;
    }

    &--round {
      border-radius: 50%;
    }

    &--centered {
      margin: 0 auto;
    }

    &--centered-until-medium {
      margin: 0 auto;

      @mixin medium {
        margin-right: 0;
        margin-left: auto;
      }
    }

    &--b-margin-large {
      margin-bottom: 4rem;
    }

    &--iphone {
      max-width: 230px;

      @mixin small {
        max-width: 320px;
      }
    }
  }
}
