.shadow {
  box-shadow: 0 10px 20px #d3d3d3;

  &--dark {
    box-shadow: 0 10px 20px #212121;
  }

  &--black {
    box-shadow: 0 10px 20px #000;
  }

  &--upper {
    box-shadow: 0 -8px 20px #d3d3d3;
  }
}
