.wrapper {
  padding: 0 30px;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;

  &--no-padding-until-small {
    padding: 0;

    @mixin small {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
